<h3><%= @contact.name %>様より問い合わせがありました</h3>

<h3>お問い合わせ内容</h3>

------------------------------------------------
<p>email: <%= @contact.email %></p>

<p>content: <%= @contact.message %></p>

------------------------------------------------




<p>このメールは 軽井沢deウェディング.com (https://karuizawa-wedding-plan.com/) のお問い合わせフォームから送信されました。
お心当たりのない方は、お手数ですが破棄いただきますようお願い申し上げます。</p>