// Place all the styles related to the admins/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.menue-title h3 {
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
    font-size: 20px;
  }
.menue-title h3::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
    font-size: 20px;
  }
