<div class="container">
<div class="row">
    <div class="col-xs-12">
        <div class="title">
            <h2>マイページ</h2>
        </div>

 <%# 共通ボディー開始タグここまで%>
  <div class="title">
            <h4><%= @customer.family_name %>様の問い合わせ中プラン一覧</h4>
    </div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="table-success">問い合わせプラン</th>
						<th class="table-success">登録日時</th>
					</tr>
				</thead>
				<tbody>
					<% @order_plans.each do |order_plan| %>
					<tr class="active">
                        <td><%= order_plan.id %></td>
						<td><%= link_to order_plan.created_at.strftime('%Y/%m/%d %H:%M:%S') ,  customers_order_plan_path(order_plan), data: {"turbolinks" => false} %></td>
						
					</tr>
					<% end %>
				</tbody>
			</table>
<%# クライアント一覧ここまで %>
<%= link_to  edit_customers_customer_path(@customer), class: 'btn btn-info' do %>会員情報の編集<% end %>

<%# 登録フォーム %>
<%# 共通ボディー閉じタグ %>
    </div>
</div>
</div>