<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="title">
                <h2>気になる式場を選択</h2>
            </div>
        </div>
    </div>
<%= render 'client_plan_index', client_plans: @search_plans %>
</div>