<div class="container">
<div class="row">
    <div class="col-xs-12">
        <div class="title mt-5">
            <h2>会員一覧</h2>
        </div>

 <%# 共通ボディー開始タグここまで%>
<%# クライアント一覧 %>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="table-success">会員ID</th>
						<th class="table-success">登録日時</th>
						<th class="table-success">会員名</th>
					</tr>
				</thead>
				<tbody>
					<% @customers.each do |c| %>
					<tr class="active">
                        <td><%= c.id %></td>
						<td><%= link_to c.created_at.strftime('%Y/%m/%d %H:%M:%S') ,  admins_customer_path(c), data: {"turbolinks" => false} %></td>
						<td>
							<%= link_to c.family_name + c.first_name ,  admins_customer_path(c), data: {"turbolinks" => false} %>
						</td>
						
					</tr>
					<% end %>
					<%= paginate @customers %>
				</tbody>
			</table>
<%# クライアント一覧ここまで %>

<%# 登録フォーム %>
<%# 共通ボディー閉じタグ %>
    </div>
</div>
</div>