
<div class="container">
	<div class="row">
		<div class="col-12 mx-auto">
				<div class="title-text text-center my-5">
						<p><span class="about-title">Thank you！</span></p>
				</div>

				<div class="thanks-img mx-auto text-center my-3">
					<%= image_tag 'thanks.jpg', :size =>'500x300' %>
				</div>
				 <div class="text-center my-3">
           		 	<%= link_to "マイページへ", mypage_path, class: "plan_make" %>
           		 </div>

		</div>
	</div>

</div><!-- /.container -->