<h3><%= @contact.name %>様</h3>

こんにちは、軽井沢 de ウェディング.comです。
この度はお問合せをいただきまして誠にありがとうございます。
いただいた内容につきましては、改めてご連絡させて頂きますので
ご確認の程よろしくお願い申し上げます。


なお、このメールは自動返信メールとなります。3日以内にご連絡がない場合は
サーバートラブル等により正常に連絡が届いていない場合があります。
大変お手数ではございますが、再度お申込みいただくかお電話でお問合せください。

<h3>お問い合わせ内容</h3>

<p>------------------------------------------------</p>
<p>email: <%= @contact.email %></p>

<p>content: <%= @contact.message %></p>

<p>------------------------------------------------</p>

<p>追って担当者よりご返信させていただきます。</p>
<p>引き続き軽井沢deウェディング.comをよろしくお願い申し上げます。</p>


-- 
<p>このメールは 軽井沢deウェディング.com (https://karuizawa-wedding-plan.com/) のお問い合わせフォームから送信されました。
お心当たりのない方は、お手数ですが破棄いただきますようお願い申し上げます。</p>