<h2><%= @customer.family_name %> <%= @customer.first_name %>様</h2>
　<p>この度は、式場プランの仮予約ありがとうございました。<br>
　</p>

  <p>問い合わせ内容について確認後、追って弊社担当者よりこちらの宛先にご連絡させていただきます。</p>

  <p>今後とも 軽井沢deウェディング.com をよろしくお願いいたします。</p>
