/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";


//  header {
//     height: 100px;
// }

@import "slick-theme"; 
@import "slick";

@font-face {
  font-family: 'GenJyuuGothicX';
  src: asset_url('/assets/GenJyuuGothicX-P-Bold.ttf');

}

@font-face {
  font-family: 'GenJyuuGothicN';
  src: asset_url('/assets/GenJyuuGothicX-Normal.ttf');

}

//   エラー文赤文字

#error_explanation {
  color: red;
  font-family: 'GenJyuuGothicX';
  }

body{
  margin-top: 48px;
}
// ナビバー
a:hover {
  color: #614d3f;
  text-decoration: none;
}

.error-comment h2{
  color:red;
  font-size:15px;
}


// html, body,
// ul, ol, li,
// h1, h2, h3, h4, h5, h6, p, div {
//   margin: 0;
//   padding: 0;
  
// }

.navbar-brand {
color: #44b5a6;
font-family: 'GenJyuuGothicN';
font-size: 15px;
}
.navbar-brand a :hover {
  color: #44b5a6;
  font-size: 15px;
  }
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
    xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(167, 154, 122, 1)'
    stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

//   .navbar li {
//      color: #a79a7a;
//      font-size: 14px;
//   }

  .link-text :hover {
    color:#614d3f;
    }
  .link-text {
    color: #a79a7a ;
    font-size:14px;
  }

 
//   .nav-item a {
//     color: #614d3f;
//     font-size: 14px;
//  }

// top

.slider{
    margin: 100px auto;
    width: 80%;
    opacity: 0;
    transition: 3s;
}
.slick-initialized{
    opacity: 0.7;

}

.sp-slide{position: relative;}
.slick-content{
  position: absolute;
  top: 20%;left: 30%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 150;
  color: #614d3f;
  img{width: 100%;}
  margin: 0　10px;padding: 0;
  p{margin: 0;padding: 0; font-size: 1rem;}
  h2{margin: 0;padding: 0; font-size: 2rem;color: #614d3f;}
}

// 共通リスト
li{
    list-style-type: none;
}

.title h2{
    color:#614d3f;
    font-size:25px;
    font-family: 'GenJyuuGothicX';
    
}
.sub-title h4{
    color:#614d3f;
    font-size:20px;
    font-family: 'GenJyuuGothicN';

}


// メニュー選択


// .radio input[type="radio"] {
//     display: none;
//   }


// トップページ

.title-text p {
    font-size: 22px;
    color: #614d3f;
    text-align: center;
    font-family: 'GenJyuuGothicX';

}
.sub-text p {
    font-size: 16px;;
    color: #614d3f;
    text-align: center;
    font-family: 'GenJyuuGothicN';
}

.about-title{ 
    position: relative;
    padding: 0.3em;
    font-family: 'GenJyuuGothicX';
  }
  .about-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: repeating-linear-gradient(-45deg, #8ccec5, #8ccec5 2px, white 2px, white 4px);
  }
  
  .plan_make {
    font-family: 'GenJyuuGothicX';
    display: inline-block;
    text-decoration: none;
    background: #52c1b4;
    color: #FFF;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 0px 5px #52c1b4;
    border: dashed 1px #FFF;
    transition: .4s;
  }
  
  .plan_make:hover {
    background: #0baa95;
    box-shadow: 0px 0px 0px 5px #0baa95;
  }
//   タグ選択

  .tag-wrap  {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .tag_select_box{
    padding: 0;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background-color: white;
    display: inline-block;  /* (任意：インラインブロック化したい場合) */
  }

  .tag_select_box.is-active .tag_bg{
    background-color: #44b5a6;
    height: 200px;
    width: 200px;
  }


  .tag_select_box .tag_bg{
    height: 200px;
    width: 200px;
  }
  
  .tag_select_box img{
    width:100%;
    height:100%
 
  }

  .tag_select_box input[type="checkbox"] {
    display:none;
  }

.tag_select_box :hover{
  background-color: white;
  
}

.tag_select_box.is-active .tag-image-box{
    background-color: #44b5a6;
    opacity:0.5;
    
}


//   テキストボックス

.text-box{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}
.text-box p {
    margin: 0; 
    padding: 0;
}

// アイテム紹介テキストボックス

.item-box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #9aceb7;
    border-radius: 8px;
}
.item-box .item-box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #9aceb7;
    font-weight: bold;
}
.item-box p {
    margin: 0; 
    padding: 0;
}

.item-box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #9aceb7;
    border-radius: 8px;
}

.item-name{
    font-size:16px;
    background: linear-gradient(transparent 50%, #9aceb7 50%);
}

.item-box2 .item-box2-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #8ccec5;
    font-weight: bold;
}
.item-box2 p {
    margin: 0; 
    padding: 0;
}
.item-box2 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #8ccec5;
    border-radius: 8px;
}

.item2-name{
    font-size:16px;
    background: linear-gradient(transparent 50%, #8ccec5 50%);
}

.plan-box{
	border: 1px solid #8ccec5;	/* 線の太さ・種類・色 */
	border-radius: 5px;
	padding: 45px 10px 10px 10px;	/* 内側の余白 上・右・左・下 */
	position: relative;
	z-index: 0;
}
.plan-box:before{
	background-color: #8ccec5;	/* タイトル部分背景色 */
	border-radius: 5px 5px 0px 0px;
	color: #fff;	/* タイトル部分文字色 */
    content: '先輩花嫁から一番選ばれている、人気プラン';
    font-size:20px;
	height: 35px;	/* タイトル部分高さ */
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
.plan-box:after {
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: white transparent transparent transparent;	/* 吹き出し三角部分の色 */
	content: "";
	position: absolute;
	top: 35px;
	left: 10px;
	width: 0px;
	height: 0px;
	z-index: 1;
}

// 確認画面用
.order-plan-box h3 {
    position: relative;
    padding: 0.5em;
    background: #a6d3c8;
    color: white;
    font-size: 20px;
  }
.order-plan-box h3::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
    font-size: 20px;
  }



.order-plan-box{
	border: 1px solid #8ccec5;	/* 線の太さ・種類・色 */
	border-radius: 5px;
	padding: 45px 10px 10px 10px;	/* 内側の余白 上・右・左・下 */
	position: relative;
    z-index: 0;

    
}
.order-plan-box p{
    text-align: left;
    
}
.order-plan-box:before{
	background-color: #8ccec5;	/* タイトル部分背景色 */
	border-radius: 5px 5px 0px 0px;
	color: #fff;	/* タイトル部分文字色 */
    content: 'あなたが選んだプラン';
    font-size:20px;
	height: 35px;	/* タイトル部分高さ */
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
.order-plan-box:after {
	border-style: solid;
	border-width: 10px 10px 0 10px;
	border-color: white transparent transparent transparent;	/* 吹き出し三角部分の色 */
	content: "";
	position: absolute;
	top: 35px;
	left: 10px;
	width: 0px;
	height: 0px;
	z-index: 1;
}

.total-price{
    text-align: center;

}
.total-price p{
   font-size: 20px;
   color: #614d3f;
   background: linear-gradient(transparent 50%, #8ccec5 50%);

}
.color {
    color: #8ccec5;
   }

.icon{
    text-align: center;
}

// プラン作成ページ

.stripe-pattern {
    position: relative;
    background: repeating-linear-gradient(-45deg, rgba(139,198,202,.3), rgba(139,198,202,.3) 10px, #fff 0, #fff 20px);
    padding: 1em;
    color: #65513f;
  }
// レスポンシブ対応


@media screen and (max-width: 767px) {
  body{
    margin-top: 55px;
  }
    .wrap {
      flex-direction: column;
    }
    .btn-flat-border {
      width: 100%;
    }
    .title-text p {
        font-size: 20px;
    
    }
    .sub-text p {
        font-size: 15px;;
    }


  }


  